/** ** CUSTOM PROPIERTIES ** **/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");


:root {
    --lilaOscuroHeader: rgb(74,53,72);
    --sombraHeader: rgba(74, 53, 72, 0.4);
    --lilaOscuro: rgb(85,26,139);
    --lilaClaro: rgb(214,200,208);
    --fuentePrincipal: "Montserrat", sans-serif;
    --fuenteSecundaria: Arial, Helvetica, sans-serif;
}

/** ** GLOBALES ** **/

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: rgb(247,238,239);
}

img {
    max-width: 100%;
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    color: var(--lilaOscuro);
}

.parrafo {
    font-family: var(--fuentePrincipal);
    font-size: 14px;
}

.container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    background: #fff;
    padding: 20px 0;
}

@media (min-width: 968px){
    .container {
        width: 80%;
    }
}

/** ** SCROLL PERSONALIZADO ** **/

body::-webkit-scrollbar {
    width: 15px;
    background: rgb(36, 9, 61);
}
body::-webkit-scrollbar-thumb {
    background: var(--lilaClaro);
    border: 1px solid var(--lilaOscuro);
    border-radius: 10px;
}


/** JUMBOTRON HEADER **/

.header {
    background: url(../img/background.jpg);
    height: 100vh;
    background-size: cover;
}

.header-jumbotron {
    color: var(--lilaOscuroHeader);
    text-transform: uppercase;
    text-align: center;
    background:rgba(214,200,208, .6);
    border: 1px solid var(--lilaOscuroHeader);
    box-shadow: 3px 2px 2px 1px var(--sombraHeader);
    padding: 10px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.header-jumbotron:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100%;
    background: rgba(255,255,255,.3);
    top: 0;
    left: -155px;
    transform: skewX(-30deg);
    transition: all .6s;
    animation: efectoBrillo .4s; 
    animation-delay: 3s
}

@keyframes efectoBrillo {
    100% {
            left: 850px;
    }
}

.header-jumbotron__title {
    font-family: var(--fuentePrincipal);
    font-size: 30px;
    margin-bottom: 0;
    text-shadow: 4px 4px 2px var(--sombraHeader);
}

.header-jumbotron__subtitulo {
    font-family: var(--fuenteSecundaria);
    font-size: 17px;
    color: rgb(222,217,240);
    background: var(--lilaOscuroHeader);
    padding: 5px 0;
}

.header-jumbotron__icons {
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
    background: var(--lilaClaro);
    border: 1px solid var(--lilaOscuroHeader);
    box-shadow: 3px 2px 2px 1px var(--sombraHeader);
    color: var(--lilaOscuroHeader);
    transition: ease-in .3s;
}

.header-jumbotron__icons:hover {
    background: var(--lilaOscuroHeader);
    color: var(--lilaClaro);
    border: 1px solid var(--lilaClaro);
    box-shadow: 0px 0px 0px 0px;
}

@media (min-width: 840px){
    .header-jumbotron {
        width: 60%;
    }
}

@media (min-width: 1235px){
    .header-jumbotron {
        width: 50%;
    }
}

/** MENÚ NAVEGACIÓN **/

.nav {
    width: 100%;
    background:rgb(253, 253, 253, .6);
    height: 100px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin:0;
    position: absolute;
    right: 0;
    height: 100vh;
    top: 100px;
    background: rgb(253, 253, 253, .6);
    display: flex;
    flex-direction: column;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 100;
}

.nav-links__link {
    color: var(--lilaOscuro);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(36, 9, 61);
    letter-spacing: 4px;  
}

.nav-links__link:hover {
    font-weight: bold;
}

.nav-links__link:last-of-type {
    margin-right: 0;
}

.nav-links__link--active {
    display: flex;
    transform: translateX(0%);
}

.burguer {
    width: 40px;
    height: 33px;
    border: 1px solid var(--lilaOscuro);
    position:absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
}

.burguer > div{
    width: 30px;
    height: 4px;
    background: var(--lilaOscuro);
    margin: 5px;
    transition: all .3s ease;
}

/** EFECTO BURGUER **/

.toggle .burguer__line-1 {
    transform: rotate(-41deg) translate(-6px,8px);
}

.toggle .burguer__line-2 {
    opacity: 0;
}

.toggle .burguer__line-3 {
    transform: rotate(40deg) translate(-5px,-7px);
}

@media (min-width:580px){
    .nav-links {
        position: relative;
        background: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 0;
        height: 100px;
        transform: translateX(0%);
    }

    .nav-links__link {
        padding: 0;
        border-bottom: none;
    }   
    .burguer {
        display: none;
    }
    .nav-links__link--active {
        display: none;
    }
}


@media (min-width:852px){
    .nav-links {
        justify-content: flex-end;
    }
    .nav-links__link {
        padding-right: 30px;
        margin: 0;
    }
    
}


/** ** SECCIÓN SOBRE MI ** **/

/**SOBRE MI**/

.sobre-mi__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}

@media (min-width: 586px) {
    .sobre-mi__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

.sobre-mi__img {
    width: 199px;
    margin: 0 auto;
    padding: 20px;
}

.sobre-mi__img img {
    width: 199px;
    border: 3px solid var(--lilaOscuro);
}

.sobre-mi__text {
    padding: 0px 30px 30px 30px;
}

.icono-download {
    margin-right: 5px;
}

/** MY SKILLS **/

.my-skills__container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
    place-items: center center;
    place-content: start center;
}

.my-skills__title {
    color: var(--lilaOscuro);
    letter-spacing: 2px;
    grid-column: span 2;
}

@media (min-width: 400px) {
    .my-skills__container {
        grid-template-columns: repeat(3, 100px);
    }
    .my-skills__title {
        grid-column: span 3;
    }
}

@media (min-width: 586px) {
    .my-skills__container {
        grid-template-columns: repeat(2, 100px);
    }
    .my-skills__title {
        grid-column: span 2;
    }
}

@media (min-width:969px) {
    .my-skills__container {
        grid-template-columns: repeat(3, 100px);
    }
    .my-skills__title {
        grid-column: span 3;
    }
}

.my-skills__item {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    background: var(--lilaClaro);
    border: 1px solid var(--lilaOscuro);
 
}

.my-skills__icono {
    color: var(--lilaOscuro);
    font-size: 50px;
    line-height: 100px;
    
}

.my-skills__item-info {
   position: absolute;
   width: 100%;
   height: 10%;
   padding: 5px 0;
   background: #fff;
   color: var(--lilaOscuro);
   font-size: 12px;
   bottom: 0;
   transform: translateY(100%);
   transition: transform .3s ease-in;
}

.my-skills__item:hover .my-skills__item-info{
    transform: translateY(0%);
}


/** ** SECCION PROYECTOS ** **/

.proyectos-container {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    gap: 20px;
    place-items: center center;
    place-content: center center;
}

.proyectos-container__item {
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 160px;
    border: 1px solid var(--lilaOscuro);
}

.proyectos-container__info {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--lilaOscuro);
    background: rgba(214,200,208, .6);
    bottom: 0;
    transform: translateY(80%);
    transition: transform .3s ease-in;
}

.proyectos-container__item:hover .proyectos-container__info{
    transform: translateY(0%)
}

.tecnologias {
    display: inline-block;
    background: var(--lilaOscuro);
    color: var(--lilaClaro);
}

.proyectos-container__img {
    width: 100%;
    height:100%;
}

.iconos-informacion {
    font-size: 22px;
    margin-top: 5px;
}

.iconos-informacion i{
    cursor: pointer;
    color: var(--lilaOscuro);
}

.proyectos-container__text {
    background: rgba(214,200,208, .8);
}

.proyectos-container__text h3{
    margin: 10px;
}

.proyectos-container__text p {
    padding: 0 5px;
    margin: 5px;
}

.button {
    border: 1px solid var(--lilaOscuro);
    color: var(--lilaOscuro);
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
    color: rgb(214, 200, 208);
    background: var(--lilaOscuro);
}

@media (min-width: 400px) {
    .proyectos-container {
        grid-template-columns: repeat(1, 300px);
    }
    .proyectos-container__item {
        width: 300px;
        height: 180px;
    }
}

@media (min-width: 500px){
    .proyectos-container {
        grid-template-columns: repeat(1, 400px);
    }
    .proyectos-container__item {
        width: 400px;
        height: 200px;
    }
    .proyectos-container__text {
        padding: 10px 20px;
    }
    
}

@media (min-width: 670px) {
    .proyectos-container {
        grid-template-columns: repeat(2, 260px);
    }
    .proyectos-container__item {
        width: 260px;
        height: 160px;
    }
    .span-2 {
        grid-column: span 2;
    }
    .proyectos-container__text {
        padding: 0px;
    }
}

@media (min-width: 800px) {
    .proyectos-container {
        grid-template-columns: repeat(2, 320px);
    }
    .proyectos-container__item {
        width: 320px;
        height: 180px;
    }
    .proyectos-container__text {
        padding: 5px 5px;
    }
   
}

@media (min-width: 1200px) {

    .proyectos-container {
        grid-template-columns: repeat(2, 420px);
    }
   
    .proyectos-container__item {
        width: 420px;
        height: 230px;
    }
    .proyectos-container__info {
        transform: translateY(84%);
    }
    
    .proyectos-container__text {
        margin-top: 17px;
        padding: 10px 20px;
    }
    
}


/** ** SECCION CONTACTO ** **/

.contacto {
    font-size: 50px;
    padding: 20px;  
}

.contacto i {
    padding: 10px;
    cursor: pointer;
    background: var(--lilaClaro);
    border: 1px solid var(--lilaOscuro);
    color: var(--lilaOscuro);
    transition: ease-in .3s;
}
.contacto i:hover{
    background: var(--lilaOscuro);
    border: 1px solid var(--lilaClaro);
    color: var(--lilaClaro);
}


/** ** FOOTER ** **/

.footer {
    text-align: center;
    background: var(--lilaClaro);
}

.contacto-text {
    padding: 30px;
}

.footer p {
    margin: 0;
    padding: 15px;
    color: var(--lilaOscuro);
}